body {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

button:focus {
	outline: none;
}

a {
	text-decoration: none;
	outline: none;
	color: #4C4C4C;
}

a:hover {
	text-decoration: none;
	outline: none;
	color: #BD3D3D;
}

a:focus {
	text-decoration: none;
	outline: none;
	color: #4C4C4C;
}

img {
	border: none;
}

.nav_ul {
	list-style: none;
	text-align: center;
}

.nav_ul li {
	font-size: 87.5%;
	padding: 0.625rem;
	color: #4C4C4C;
}

.input-group {
/* 	display: -webkit-flex;
	display: flex; */
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.top .input-group input {
	width: 10rem;
	height: 1.5625rem;
	margin-right: 0.4rem;
}

.top .add_btn img {
	width: 1.125rem;
	height: 1.125rem;
}

.top .search_btn img {
	width: 0.93rem;
	height: 0.93rem;
}

.top .form-control {
	padding: 0 0.25rem;
	font-size: 0.8rem;
}

.nav_add {
	font-weight: bold;
}

.nav_pane {
	display: none;
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: 100;
}

.nav_pane img {
	width: 80%;
	display: block;
	margin: 0 auto;
}

.nav_pane .row {
	margin: 0;
}

.nav_btn {
	position: absolute;
	right: 0;
	top: -0.1875rem;
	left: auto;
}

.middle .left, .middle .right {
	background-image: none;
}

.mid_silde {
	margin-bottom: 0.4rem;
}

.card {
	width: 100%;
	background: #fff;
	border-style: solid;
	border-width: 0.025rem;
	border-color: #dcdcdc;
	border-left: none;
	border-right: none;
	padding: 0.5rem 0.5rem 0.2rem;
	margin-bottom: 0.5rem;
	text-align: center;
    color: #999;
    line-height: 20px;
}

.card img {
	width: 100%;
    height: 153px;
    position: relative;
    margin-bottom: 6px;
}

.card_img {
	overflow: hidden;
}

.mid_card .card-block .card-title {
	font-size: 75%;
	max-height: 2.1875rem;
	overflow: hidden;
	margin-bottom: 0.15rem;
}

.card .card-text {
	font-size: 87.5%;
	margin-bottom: 0.15rem;
}

.mid_card .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,
	.col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,
	.col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
	.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
	.col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
	.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
	.col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
	.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11,
	.col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5,
	.col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11,
	.col-xl-12 {
	position: relative;
	min-height: 1px;
	padding-right: 0.05rem;
	padding-left: 0.05rem;
}

.mid_card .card-block {
	padding: 0.25rem;
}

.bottom {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	z-index: 5;
	border-top: solid 0.05rem #ddd;
}

.bottom ul {
	border: 1px solid #e5e5e5;
	margin: 0;
	padding: 0.3rem 0 0 0;
	background-color: #fff;
	display: block;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.bottom a {
	font-size: 75%;
	text-align: center;
}

.bottom a img {
	display: block;
	margin: 0 auto;
}

.bottom a div {
	width: 1.25rem;
	height: 1.25rem;
	margin: 0 auto;
}

.bottom .link_img1 {
	background-image: url('../images/icon/1.png');
	background-size: cover;
}

.bottom .link_img2 {
	background-image: url('../images/icon/2.png');
	background-size: cover;
}

.bottom .link_img3 {
	background-image: url('../images/icon/3.png');
	background-size: cover;
}

.bottom .link_img4 {
	background-image: url('../images/icon/4.png');
	background-size: cover;
}

/* 涓汉涓績 */
.about_nav {
	text-align: center;
}

.user_info {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.user_name {
	margin-left: 1.25rem;
}

.user_photo img {
	width: 3.125rem;
	height: 3.125rem;
	overflow: hidden;
	border-radius: 50%;
}

.about_mid .list-group-item a {
	display: flex;
	flex-wrap: nowrap;
}

.about_mid .list-group-item a div {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 1rem;
}

.about_nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.stay_right {
	position: absolute;
	right: 1rem;
}

.list_img1 {
	background-image: url('../images/icon/l1.png');
	background-size: cover;
}

.list_img2 {
	background-image: url('../images/icon/l2.png');
	background-size: cover;
}

.list_img3 {
	background-image: url('../images/icon/l3.png');
	background-size: cover;
}

.list_img4 {
	background-image: url('../images/icon/l4.png');
	background-size: cover;
}

.scroll_img img {
	width: 100%;
}

.pro_more {
	padding: 1rem 1rem;
}

.pro_more .user_top {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.product_info {
	padding: 1rem 0;
	font-size: 87.5%;
}

.price_area {
	font-size: 87.5%;
}

.pro_more .pro_price {
	color: #D00000;
}

.loc_img {
	width: 1.25rem;
	height: 1.375rem;
	background-image: url('../images/icon/location_1.png');
	background-size: cover;
	overflow: hidden;
	margin-right: 0.3125rem;
}

.loc_area {
	font-size: 87.5%;
	color: #6099CF;
}

.price_loc {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.user_loc {
	display: flex;
	flex-wrap: nowrap;
}

.bottom .buy_ul {
	border: none;
	padding: 0;
}

.buy_ul li {
	width: 100%;
	display: flex;
	align-items: center;
	height: 2.1875rem;
}

.buy_ul .buy_now {
	background-color: #DF3033;
	text-align: center;
}

.buy_ul a {
	margin: 0 auto;
}

.buy_ul .buy_now a {
	color: #fff;
}

.pro_nav {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.go_back {
	float: left;
	width: 1.25rem;
	height: 1.25rem;
	background-image: url('../images/icon/go_back.png');
	background-size: cover;
}

.info_right {
	text-align: right;
}

.pro_tag {
	right: 0;
}

.tag_name {
	font-size: 75%;
}

.dis_mid .list-group-item {
	width: 100%;
	height: 100px;
	background-image: url('../images/back1.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.125rem;
}

.dis_mid .list-group-item a {
	text-align: center;
	color: #fff;
	font-family: "Microsoft YaHei";
	font-size: 112.5%;
}

/*
 * Page: Mailbox
 * -------------
 */
.mailbox-messages > .table {
  margin: 0;
}
.mailbox-controls {
  padding: 5px;
}
.mailbox-controls.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.mailbox-read-info {
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;
}
.mailbox-read-info h3 {
  font-size: 20px;
  margin: 0;
}
.mailbox-read-info h5 {
  margin: 0;
  padding: 5px 0 0 0;
}
.mailbox-read-time {
  color: #999;
  font-size: 13px;
}
.mailbox-read-message {
  padding: 10px;
}
.mailbox-attachments li {
  float: left;
  width: 200px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  margin-right: 10px;
}
.mailbox-attachment-name {
  font-weight: bold;
  color: #666;
}
.mailbox-attachment-icon,
.mailbox-attachment-info,
.mailbox-attachment-size {
  display: block;
}
.mailbox-attachment-info {
  padding: 10px;
  background: #f4f4f4;
}
.mailbox-attachment-size {
  color: #999;
  font-size: 12px;
}
.mailbox-attachment-icon {
  text-align: center;
  font-size: 65px;
  color: #666;
  padding: 20px 10px;
}
.mailbox-attachment-icon.has-img {
  padding: 0;
}
.mailbox-attachment-icon.has-img > img {
  max-width: 100%;
  height: auto;
}
/*
 * Component: Box
 * --------------
 */
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box.box-info {
  border-top-color: #00c0ef;
}
.box.box-danger {
  border-top-color: #dd4b39;
}
.box.box-warning {
  border-top-color: #f39c12;
}
.box.box-success {
  border-top-color: #00a65a;
}
.box.box-default {
  border-top-color: #d2d6de;
}
.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none;
}
.box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}
.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}
.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}
.box .border-right {
  border-right: 1px solid #f4f4f4;
}
.box .border-left {
  border-left: 1px solid #f4f4f4;
}
.box.box-solid {
  border-top: 0;
}
.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}
.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.box.box-solid.box-default {
  border: 1px solid #d2d6de;
}
.box.box-solid.box-default > .box-header {
  color: #444444;
  background: #d2d6de;
  background-color: #d2d6de;
}
.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
  color: #444444;
}
.box.box-solid.box-primary {
  border: 1px solid #3c8dbc;
}
.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-info {
  border: 1px solid #00c0ef;
}
.box.box-solid.box-info > .box-header {
  color: #ffffff;
  background: #00c0ef;
  background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-danger {
  border: 1px solid #dd4b39;
}
.box.box-solid.box-danger > .box-header {
  color: #ffffff;
  background: #dd4b39;
  background-color: #dd4b39;
}
.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-warning {
  border: 1px solid #f39c12;
}
.box.box-solid.box-warning > .box-header {
  color: #ffffff;
  background: #f39c12;
  background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-success {
  border: 1px solid #00a65a;
}
.box.box-solid.box-success > .box-header {
  color: #ffffff;
  background: #00a65a;
  background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #ffffff;
}
.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}
.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}
.box .box-group > .box {
  margin-bottom: 5px;
}
.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}
.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.collapsed-box .box-header.with-border {
  border-bottom: none;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}
.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}
.btn-box-tool.btn:active {
  box-shadow: none;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-body .fc {
  margin-top: 5px;
}
.box-body .full-width-chart {
  margin: -19px;
}
.box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}
.chart-legend {
  margin: 10px 0;
}
@media (max-width: 991px) {
  .chart-legend > li {
    float: left;
    margin-right: 10px;
  }
}
.box-comments {
  background: #f7f7f7;
}
.box-comments .box-comment {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.box-comments .box-comment:before,
.box-comments .box-comment:after {
  content: " ";
  display: table;
}
.box-comments .box-comment:after {
  clear: both;
}
.box-comments .box-comment:last-of-type {
  border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
  padding-top: 0;
}
.box-comments .box-comment img {
  float: left;
}
.box-comments .comment-text {
  margin-left: 40px;
  color: #555;
}
.box-comments .username {
  color: #444;
  display: block;
  font-weight: 600;
}
.box-comments .text-muted {
  font-weight: 400;
  font-size: 12px;
}